<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargando audio</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <div class="content">
        <H3>{{p_s}}</H3>
        <p>Descarga en proceso..</p>
    </div>
    <script>
        if ('{{p_1}}'=='{{p_2}}'){
            window.location.href = '/?message=Descargas finalizado. Puedes descargar más, si quieres';
        }
        else{
            setTimeout(function(){
                window.location.href = '/loading/?p1={{p_1}}&&ps={{p_s}}';
            }, 1000); 
        }
    </script>
</body>
</html>